[Unit]
Description=Run the frigate-sidecar healthcheck every 60 seconds
Documentation=https://github.com/helicopterrun/frigate-sidecar

[Timer]
OnBootSec=1min
OnUnitActiveSec=60s
Persistent=true

[Install]
WantedBy=timers.target
